/* HEADER */

body {
    background-color: #f1f1f1;
    position: relative;
    padding-top: 70px;
}
.header {
    font-family: verdana;
    height: 70px;
    padding: 8px 3% 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 87%;
    backdrop-filter: blur(10px);
}
.header.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 60px;
    width: 250px;
}
.header .navbar a {
    text-decoration: none;
    font-size: 20px;
    color: #777;
    margin-left: 20px;
    font-weight: bold;
}
.header .navbar a:hover {
    color: rgb(69, 103, 131);
}
.iconProfile {
    width: 40px;
    height: 40px;
    color: darkgray;
    margin-left: 100px;
}
.iconProfile:hover {
    color: rgb(69, 103, 131);
}
.header .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER END  */

/* FOOTER  */

.site-footer {
    background-image: linear-gradient(
        76.3deg,
        rgba(44, 62, 78, 1) 12.6%,
        rgb(69, 103, 131) 82.8%
    );
    height: auto;
    width: 80%;
    padding: 30px 10% 20px 10%;
}
.site-footer hr {
    border-top-color: #bbb;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}
.footerGrid {
    z-index: 3;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-template-areas: "footerAbout footerCategory footerLink";
}
.footerAbout {
    width: 100%;
    grid-area: footerAbout;
}
.footerAbout img {
    width: 300px;
    height: 100px;
    margin-top: 30px;
}
.footerAbout h6,
.footerCategory h6,
.footerLink h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
}
.footerAbout p,
.footerCategory p,
.footerLink p {
    color: #bbb;
    text-align: justify;
    font-size: 17px;
    margin: 10px 0 0 0;
}
.footerCategory {
    width: 100%;
    grid-area: footerCategory;
}
.footerLink {
    border-left: 3px solid #fff;
    padding-left: 30px;
    width: 100%;
    grid-area: footerLink;
}
.footerLink a {
    text-decoration: none;
}
.footerLink a :hover {
    color: aqua;
}
.copyrightLogo {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.copyright-text {
    color: #fff;
    font-size: 15px;
}
.copyright-text a {
    color: aqua;
    font-size: 15px;
    text-decoration: none;
}
.iconLogoFooter ion-icon {
    color: #fff;
    width: 30px;
    margin: 0 0 0 10px;
    height: 30px;
}
.iconLogoFooter ion-icon:hover {
    color: aqua;
}

/* END FOOTER  */
